@font-face {
    font-family: 'poppins_400';
    src: url('/Fontes/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins_500';
    src: url('/Fontes/Poppins-Medium.ttf') format('truetype');
}


*{
    margin: 0;
    font-family:'poppins_400';
    box-sizing: border-box;    
}

/* config Graficos */
#canvas1,#canvas3,#canvas4,#canvas5,#canvas6,#canvas7,#canvas8{
    max-height: 36vh;
}
#canvas2{
   width: 50vw ;
}


.flex{
    display: flex;
    flex-wrap: nowrap;
}
.beetwen{
    justify-content: center;
    align-items: center;
}
.none{
    display: none !important;
}

/* menu X */
#menux{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    border: 0.5px solid #C8CBD9;
    
}
.white{
    background: linear-gradient(rgba(161, 98, 247, 0.4) , rgba(131, 130, 222, 0) );
}
.logo{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 15%;
    height: 80px;
    align-items: center;
    border-right: 0.5px solid #C8CBD9;

}
.espaco-menu-x2{
    justify-content: space-between;
    width: 85%;
    align-items: center;
    padding-left: 18px;
    padding-right: 30px;

}
.arrow{
     font-weight: bolder !important;
    font-size:2.2em !important;
}


/* menu Y */
#menuy{
    background-color: #fff; 
    width: 15%; 
    height: 100vh;
    position: fixed;
    left: 0;
    top:80px; 
    z-index: 1;
    border-right: 0.5px solid #C8CBD9;
}

.body-menu{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
}
.body-menu > p{
    padding-bottom: 12px;
}
.m-menu{
    padding:30px 0px 0 20px;
    color: gray;
}
.body-menu > p > a {
    text-decoration: none;
}
.nav{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin: 4px;
}
.nav:hover{
    background: rgba(205, 157, 233, 0.347);
    cursor:pointer;
}
.nav:hover > .cor_btn_menu{
    color: #8c4af4 !important;
}

.body-menu > p > a:visited {
    text-decoration: none;
    color: gray;
    letter-spacing: 0.5px;
}
.gira {
    transform: rotate(90deg);
}


#conteudo{
    
    width: 70%; 
    position: relative;
    top: 90px;
    left: 22.5%;

}
.resumo{
    display: flex;
    flex-wrap: wrap;
    height: 336px;
    overflow-y: auto;
}
.resumo::-webkit-scrollbar {
    display: none;
}


#box0{
   background-color:  rgba(139, 74, 244) ;
    padding: 10px;
    top: 80px;
    position:sticky !important;
    border-radius: 10px;
    position: relative;
}
.box-icon{ 
    position: absolute;
    right: 20px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
   
}
.img_logo{
    margin-left: 15px;
    vertical-align: -5px;
}

.principal-0{
    padding: 10px;
   
}

.chamadas{
    background-color: #ccc;
    padding: 8px;
    border-radius: 5px;
}

.nivel-ajuste >div> p{
    padding: 6px;
}
.nivel-ajuste{
    display: flex;

}
.selectResume{
    border: none;
    outline: none;
    font-size: 1.3em;
    font-weight: bold;
    color:#fff;
    background-color:rgba(139, 74, 244) ;
}
.bt-text{
    font-size: 1.4em;
    font-weight: bold;
    color:#fff;

}
.box3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.tamanho{
    height: 34vh;
}
.line{
    margin: 40px 0; 
}
.fline{
    margin: 30px 0;
}
.selects{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 
}
.selects > .data{
    min-width: 250px;
}
.selects > h2{
    white-space: nowrap;
}
.diferente{
    margin-left: 100px;
}