
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
        <div class="form_img">
            <img src="/imagens/imgTela.svg" alt="Imagem Principal">
        </div>

        <div class="login-box">

            <form class="form" id="formulario">
                <div class="form_header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                </div>

                <div class="inputs">
                    <div class="user-box">
                        <label for="nome_completo">Nome Completo</label>
                        <input id="nome_completo" type="text" name="nome_completo" placeholder="Digite o Nome Completo"
                            required>
                    </div>
                      <div class="linha"></div>
                    <div class="user-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite o E-mail" required>
                    </div>

                    <div class="user-box">
                        <label for="cpf">CPF</label>
                        <input id="cpf" type="number" name="cpf" placeholder="Digite o CPF" required>
                    </div>
                   
      
                    <div class="user-box">
                        <label for="telefone">Telefone</label>
                        <input id="telefone" type="tel" name="telefone" placeholder="(xx) xxxxx-xxxx" required>
                    </div>

                    <div class="user-box">
                        <label for="senha">Senha</label>
                        <input id="senha" type="password" name="senha" placeholder="Digite a Senha" required>
                    </div>

                    <div class="user-box">
                        <label for="senha_rep">Repita a Senha</label>
                        <input id="senha_rep" type="password" name="senha_rep" placeholder="Digite a Senha Novamente"
                            required>
                    </div>
                </div>

                <div class="cadastro-button">
                    <input id="cadastrar" type="submit" value="Cadastre-se">
                    <input id="enviar" type="submit" value="Entrar">
                </div>
            </form>
        </div>
    </div>

  
 <script>
        document.querySelector('#enviar').addEventListener('click', (event) => {
          event.preventDefault();
           window.open("Nova%20pagina%20Accenture/Pagina%20principal/index.html", target = "_self")
        })
       
</script>

</body>

</html>
