<!DOCTYPE >
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styleHome.css">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/styleHome.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>Reforma Accenture</title>
  </head>
  <body>


    {{!  Menu Horizontal  }}
    <section id="menux" >

      <div class="white">
        <div class="flex">
          <div class="flex logo">
              <div>
                <img class="img_logo" src="/imagens/logo.svg">
                <span class="font-logo">Teleinfo</span>
              </div>
          </div>
          <div class="flex espaco-menu-x2">
              <h1>Dashboards</h1>
            <div>
              <i class="bi bi-person-circle perf"></i>
              <label for="config_perfil"></label>
              <select class="config-perfil config-btn" name="config_perfil" >
                  <option value="" selected>Perfil admin</option>
                  <option value=""></option>
              </select>
              <i class="bi bi-bell-fill perf"></i>
            </div>
          </div>
        </div>
      </div>

    </section>



    {{!  Menu vertical  }}
    {{>partials/menuy}}

    <section id="conteudo">

      {{!   Resumo   }}

   
    {{>partials/resumo}}  
    
            
      <hr class="fline">

      <!-- Graficos -->

      {{! Inicio primeiro grafico }}

      {{! select Grafico 1 }}
      <section class="selects">
        <h2>Comparação de Chamadas em meses</h2>

        {{!   data 1   }}
        <div class="data ">
          <span>mes</span>
          <select  class="meses g1 monthg1 config-btn cor_select1" >

          </select>
          <span>ano</span>
          <select class="g1 year yearg1 config-btn cor_select1" name=".monthg1">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>

          {{!   data 2   }}
          <span class="diferente">mes</span>
          <select class="meses g1 month2g1 config-btn cor_select2">

          </select>
          <span>ano</span>
          <select class="g1 year year2g1 config-btn cor_select2" name=".month2g1">
              <option value="2018">2018</option>
              <option value="2019">2019</option>
          </select>

        </div>
      </section>

      <section class="box1">

      </section>
      <hr class="line">


      {{! Inicio segundo grafico }}

      {{! select Grafico 2 }}
      <section class="selects">
        <h2>Quantidade de Chamadas por Prioridade</h2>
        <div class="data">

          <span>mes</span>
          <select  class="monthg2 g2 config-btn">

          </select>
          <span>ano</span>
          <select  class="year2 g2 config-btn" name=".monthg2">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>

        </div>
      </section>
      <section class="box2"></section>


        <hr class="line">

        {{! Inicio tres grafico }}

        {{! select Grafico 3 }}
        <section class="selects">
          <h2>Chamdas por Horário de Pico</h2>
          <div class="data">

            <span>mes</span>
            <select class="monthg3 g3 config-btn"></select>

            <span>ano</span>
            <select class="year3 g3 config-btn" name=".monthg3">
              <option value="2018">2018</option>
              <option value="2019">2019</option>
            </select>

          </div>
        </section>
      </div>
      <section class="box3"></section>

      <hr class="line">

      {{! Inicio quatro grafico }}

      {{! select Grafico 4 }}
      <section class="selects">
        <h2>Quantidade de Chamadas por Funcionário</h2>
        <div class="data">

          <span>nome</span>
          <select class="nameg4 config-btn"></select>


          <span class="diferente">mes</span>
          <select class="monthg4 g4 config-btn"></select>


          <span>ano</span>
          <select class="year4 g4 config-btn" name=".monthg4">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>

        </div>
      </section>
      <section class="box4" ></section>

      
      <hr class="line">

      {{! Inicio quinto grafico }}

      {{! select Grafico 8 }}
      <section class="selects">
        <h2>Quantidade de Chamada por Cliente</h2>
        <div class="data">

          {{!   data 1   }}
          <span>nome</span>
         <select class="nameg8 config-btn"></select>

          {{!   data 2   }}
          <span class="diferente">mes</span>
          <select class="monthg8 g8 config-btn"></select>

          <span>ano</span>
         <select class="year8 g8 config-btn" name=".monthg8">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>
        </div>
      </section>
      <section class="box8"></section>
    </section>


     <script src="https://kit.fontawesome.com/32b09ec398.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/dadosGrafico1.js"></script>
    <script src="/js/dadosGrafico2.js"></script>
    <script src="/js/dadosGrafico3_4_5_6.js"></script>
    <script src="/js/dadosGrafico7.js"></script>
    <script src="/js/dadosGrafico8.js"></script>
    <script src="/js/resumoGraficos.js"></script>

  </body>
</html>