<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Teste Conteudo </title>
 
  </head>
  <body>

    <h1>Funcionarios </h1>

   <div>
      nome
      <label  for="nome"></label>
      <select id="selecionado" class="cor_btn btn_padding" name="nome" >
        {{#funcionarios}}
            <option value="">{{total}}</option>
        {{/funcionarios}} 
      </select>     
    </div> 


    <ul> 
        {{#funcionarios}} 
            <li><b>DATA    : </b>{{Data}}</li>
            <li><b>DATAaNO : </b>{{DATAaNO}}</li>
            <li><b>HORA    : </b>{{ Hora_inicio}}</li>
            <li><b>TOTAL   : </b>{{total}}</li> 
            <br> 
        {{/funcionarios}} 
    </ul> 

      <span id="teste"></span>
    <script src="/js/filtro.js"></script>

  </body>
</html>