<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Teste Conteudo </title>
 
  </head>
  <body>

      <div class=" principal-0">
        <div class="flex beetwen">
          <p class="bt-text">Resumo</p>         
      
          <span class="box-icon"><i class="bi bi-caret-up-fill icone"></i>  </span>   
        </div>
        
        <div class="resumo">
          <div>
            <select class="monthResumo selectResume config-btn"></select>
            <span class="bt-text2">de</span>   
            <select class="yearResumo selectResume config-btn" name=".monthResumo">
              <option value="2018">2018</option>
              <option value="2019">2019</option>
            </select>
          </div>
          <div class="resumo-body">
            <div class="chamada">
              <h3>Chamadas</h3>
              {{#total}} 
                <p>Total: <span class="destaque t">{{quantidade}}</span></p>{{mes}}
                <div class="li-ali"><div class="li-line"></div></div>
              {{/total}} 
              {{#facil}} 
              <p>Baixa: <span class="destaque b">{{quantidade}}</span></p>
                <div class="li-ali"><div class="li-line"></div></div>
              {{/facil}} 
              {{#medio}} 
              <p>Media: <span class="destaque m">{{quantidade}}</span></p>
                <div class="li-ali"><div class="li-line"></div></div>
              {{/medio}} 
              {{#dificil}} 
              <p>Alta: <span class="destaque a">{{quantidade}}</span></p>
              {{/dificil}} 
            </div>
            <div class="dias-chamada">
              <h3>Dias com mais Chamadas</h3>
              <ol> 
              {{#dias}} 
                <li><span class="destaque">Dia {{dias}}</span> = <span class="destaque t">{{quantidade}}</span> Chamadas</li>
                <div class="li-ali"><div class="li-line"></div></div>
              {{/dias}} 
            </ol> 
            </div>
            <div class="funcionarios">
              <h3>Funcionarios Que Mais Atendimentos </h3>
              <ol> 
                {{#funcionarios}} 
                  <li><span class="destaque">{{nome}}</span> = <span class="destaque t">{{soma}}</span> Atendimentos</li>
                  <div class="li-ali"><div class="li-line"></div></div>
                {{/funcionarios}} 
              </ol> 
            </div>
            <div class="clientes">
              <h3>Clientes Com Mais Ligações</h3>
              <ol>
                {{#clientes}} 
                  <li><span class="destaque">{{nome}}</span> = <span class="destaque t">{{soma}}</span> Chamados</li>
                  <div class="li-ali"><div class="li-line"></div></div>
                {{/clientes}} 
              </ol>
            </div>
          </div>
        </div>
      </div>

    <script src="/js/filtro.js"></script>

  </body>
</html>