<section id="menuy">

    <div class="body-menu">
    <p class="m-menu">Menu</p>
    <p class="nav atual1"><a class="cor_btn_menu atual2" href=""> <i class="fa-solid fa-chart-simple icon "></i> Dashboards</a>
    <p class="nav"><a href=""class="cor_btn_menu"> <i class="fa-solid fa-chart-simple gira icon "></i> Relatórios</a>
    <hr class="line">
    <p class="nav"><a href="" class="cor_btn_menu"> <i class="fa-solid fa-gear icon"></i> Ajuste</a></p>
    <p class="nav"><a href="" class="cor_btn_menu"> <i class="fa-solid fa-user icon"></i> Perfis</a></p>
    <p class="nav"><a href="" class="cor_btn_menu"> <i class="fa-solid fa-circle-info icon"></i> Ajuda</a></p>
    </div>

</section>