
<section id="box0">
    <div  id="box0-background">
        <div class=" principal-0">
            <div class="flex beetwen resDiv">
                <p class="bt-text">Resumo</p>         

                <span class="box-icon"><i class="bi bi-caret-up-fill icone"></i>  </span>   
            </div>

            <div class="resumo">
                <div>
                <select class="monthResumo testeteste selectResume config-btn"></select>
                <span class="bt-text2">de</span>   
                <select class="yearResumo selectResume config-btn" name=".monthResumo">
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
                </div>
                <div class="resumo-body">
                    <div class="chamada">
                        <h3>Chamadas</h3>
                       <section class="resultadoChamadas"></section>
                    </div>
                    <div class="dias-chamada">
                        <h3>Dias com mais Chamadas</h3>
                        <section class="resultadoDias"></section>
                    </div>
                    <div class="funcionarios">  
                        <h3>Funcionarios Com Mais Atendimentos </h3>
                         <section class="resultadoFuncionarios"></section>
                    </div>
                    <div class="clientes">
                        <h3>Clientes Com Mais Ligações</h3>
                           <section class="resultadoClientes"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>